* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

nav {
    position: fixed;
    margin: 0;
    height: 100%;
    background-color: #F2F3F7;
    top: 0;
    left: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #333;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 0.9em;
    font-weight: bold;
    color: #222c6a;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    font-family: "Quicksand", Arial, sans-serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

nav a:hover {
    color: #009879;
}

nav a:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 7px;
    left: 0;
    right: 0;
    background-color: #2c98f0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav img {
    width: 200px;
    height: 200px;
}